<div class="main-content">
  <main-content-header></main-content-header>
  <main-content-tab-items></main-content-tab-items>

  @if (isGeneralInfoDescriptionActiveTabItem()) {
    <description-content
      (addCollection)="handleAddCollection()"
      (openCollection)="handleOpenCollection()"
      (renameCollection)="handleRenameCollection($event)"
      (openCollectionInFS)="handleOpenInFS($event.collId)"
      (closeCollection)="handleCloseCollection($event)"
    ></description-content>
  }

  @if (isRequestActiveTabItem()) {
    <request-info
      [initialRequests]="initialRequests()"
      [req]="currentRequest()!"
      [selectedTabItem]="selectedSettingRequestTabItems()"
      [selectedAuthType]="selectedAuthType()"
      [selectedBody]="selectedRequestBody()"
      (selectedRequestSettingTabItemChanged)="
        handleSelectedRequestSettingTabItemChanged($event.tabType, $event.reqId)
      "
      (selectedBodyItemChanged)="handleSelectedBodyItemChanged($event.bodyItem, $event.reqId)"
      (selectedAuthItemChanged)="handleSelectedAuthItemChanged($event.authItem, $event.reqId)"
    ></request-info>
  }
</div>
