.add-request-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 34.6%;
  transform: translate(-50%, -50%);
  color: #fff;
  min-width: 420px;
  border-radius: 8px;
  z-index: 1001;
  border: var(--modal-border-style);
  background-color: var(--modal-background-color);
}

.add-request-content {
  padding: 14px;
}

.request-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  margin-bottom: 14px;
}

.url-input {
  width: 100%;
  padding: 6px 8px;
  background: none;
  border: 1px solid #444;
  border-left: 0px solid;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  outline: none;
}

.reguest-type {
  font-weight: 600;
}

.request-type-label {
  margin-bottom: 8px;
}

.radio-group {
  display: flex;
  gap: 40px;
}

.request-type-radio:checked {
  background-color: rgb(0, 0, 0);
}

.radio-group > label {
  cursor: pointer;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 32px;
}

.modal-close-button {
  background: #202020;
}

.modal-close-button:hover {
  background-color: rgba(155, 155, 155, 0.150);
}

.url-row {
  display: flex;
  align-items: stretch;
  overflow: visible;
}

.method-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  background: none;
  border: 0px;
  min-width: 60px;
  border-radius: 4px;
  font-size: 12px;
}

.arrow {
  padding-left: 10px;
}

.method-select-con {
  display: flex;
  border-right: 1px solid #444;
}

.method-select {
  padding: 2px;
  display: flex;
  background: none;
  border: 1px solid #444;
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

.methods-dropdown{
  display: block;
  position: absolute;
  top: 81.25%;
  left: 3.5%;
  min-width: 80px;
  background: #1e1e1e;
  border: 1px solid #444;
  border-radius: 4px;
  z-index: 10;
  padding: 4px;
}

.method-item-con {
  border-radius: 4px;
  font-size: 10px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding: 2px 2px 2px 6px;
}

.method-item-con:hover {
  background-color: #353535;
}

.active-method {
  border: 1px solid #444;
}

.method-button:hover {
  background-color: rgba(180, 180, 180, 0.1);
}

.get-hover:hover {
  background-color: rgba(133, 235, 106, 0.1);
}

.post-hover:hover {
  background-color: rgba(133, 235, 235, 0.1);
}

.put-hover:hover {
  background-color: rgba(235, 133, 192, 0.1);
}

.patch-hover:hover {
  background-color: rgba(175, 133, 192, 0.1);
}

.delete-hover:hover {
  background-color: rgba(255, 67, 67, 0.1);
}
