

.modal-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    fill: rgba(212, 212, 212, 0.4);
    padding: 8px 16px 8px 16px;
    background-color: #191919;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-height: 25px;
}

.warning-icon {
    margin-right: 10px;
}

.modal-header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.yellow {
    fill: rgb(219, 162, 77);
}

.red {
    fill: rgb(224, 35, 35);
}