<div class="side-bar-content">
  <side-bar-header></side-bar-header>

  <div class="collections-wrapper">
    @if (this.collections$ | async; as collections) {
      @if (collections.length === 0) {
        <div class="no-collections">
          <span>No collections found </span>
          <br />
          <span
            ><a
              style="text-decoration: underline"
              class="pointer"
              (click)="showAddCollectionModalRef()"
              >Create</a
            >
            or
            <a style="text-decoration: underline" class="pointer" (click)="openCollectionRef()"
              >open</a
            >
            collection</span
          >
        </div>
      } @else {
        <div class="collections" cdkDropList (cdkDropListDropped)="dropCollection($event)">
          @for (collection of collections; track collection.path) {
            <collection-item
              cdkDrag
              [collection]="collection"
              (handleAddRequest)="handleCreateRequest($event.overlay, $event.addRequestInfo)"
              (handleCloneCollection)="
                handleCloneCollection($event.overlay, $event.cloneCollectionDto)
              "
              (handleRenameCollection)="handleRenameCollection($event.overlay, $event.renameDto)"
              (handleCloseCollection)="handleCloseCollection($event.overlay, $event.collectionId)"
              (handleOpenCollection)="handleOpenCollection($event.collectionId, $event.isOpen)"
            ></collection-item>

            @if (openCollections()[collection.id]) {
              <div class="requests" cdkDropList (cdkDropListDropped)="dropRequest($event)">
                @for (req of this.requests()[collection.id]?.requests; track req.id) {
                  <request-item [request]="req" [collection]="collection"></request-item>
                }
              </div>
            }
          }
        </div>
      }
    } @else {
      <div>Loading...</div>
    }
  </div>
</div>
