.side-bar-content {
  flex-direction: column;
  height: 100%;
}

.collections-wrapper {
  padding-top: 6px;
    flex-direction: column;
  height: 100%;
}

.requests{
  width: 100%;
}

.no-collections {
  margin-top: 10px;
  margin-left: 15px;
}


.collections {
  height: calc(100vh - 37px);
}

.collections > collection-item {
  margin-top: 1px;
  margin-bottom: 1px;
}

.collection-empty {
  display: flex;
  
  padding: 2px 0px 2px 32px;
}