.side-bar-content {
  flex-direction: column;
  height: 100%;
}

.collections-wrapper {
  padding-top: 6px;
    flex-direction: column;
  height: 100%;
}

.requests{
  width: 100%;
}

.no-collections {
  margin-top: 10px;
  margin-left: 15px;
}


.collections {
  display: block;
  flex-direction: column;
  min-height: 0;
  height: calc(100vh - 37px);
  overflow-y: auto;
  scrollbar-color: #222222;
}

.collections::-webkit-scrollbar {
  width: 12px;
}

.collections::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border: 3px solid var(--main-background-color);
  border-radius: 10px;
}

.collections::-webkit-scrollbar-track {
  background: var(--main-background-color);
  margin-right: 10px;
}

