.delete-request-modal {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  min-width: 500px;
  max-width: 700px;
  background: var(--modal-background-color);
  border: var(--modal-border-style)
}

.delete-request-content {
    margin: 16px 0 30px 16px  ;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  margin: 0 16px 16px 16px;
}

.modal-close-button {
  background-color: var(--modal-background-color);
}

.modal-close-button:hover {
  background-color: var(--action-background-color);
}
