.delete-request-modal {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: var(--modal-top);
  min-width: 500px;
  max-width: 700px;
  background: var(--modal-background-color);
  border: var(--modal-border-style)
}

.delete-request-content {
    margin: 16px 0 30px 16px  ;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  margin: 0 16px 16px 16px;
}
.modal-delete-button {
  background-color: rgb(197, 26, 26);
  color: #d1d1d1;
}