.main {
  display: flex;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
  flex: 1;
}

side-bar {
  flex: 0 0 auto;
}

main-content {
  flex: 1;
  height: 100%;
}

.action-item {
  font-size: 12px;
}
