.side-bar-con {
    display: flex;
    height: 100%;
    position: relative; 

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Стандартный синтаксис */
}

.side-bar {
    width: 100%;
    max-height: 100vw;
    flex-direction: column;
}