

.no-body-con {
    margin-top: 20px;
}

.body-type-con {
    display: flex;
    border: var(--border-style);
    border-radius: 4px;
    max-width: 100%;
    margin-top: 20px;
}


.editor-wrapper {
    margin-top: 20px;
    height: 90%;
}

pandora-json-editor {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 90%;
    flex: 1;
}


