@if (isNoBody()) {
  <div class="no-body-con">Без тела</div>
} @else if (isRaw()) {
  <div class="editor-wrapper" #editorWrapper>
    @if (isJson()) {
      <pandora-json-editor
        [req]="req"
        (valueChanged)="handleJsonBodyChanged($event)"
      ></pandora-json-editor>
    } @else if (isText()) {
      <pandora-text-editor
        [req]="req"
        (valueChanged)="handleTextBodyChanged($event)"
      ></pandora-text-editor>
    } @else if (isXml()) {
      <pandora-xml-editor
        [req]="req"
        (valueChanged)="handleXmlBodyChanged($event)"
      ></pandora-xml-editor>
    }
  </div>
} @else if (isFormBodyType()) {
  <div class="body-type-con">
    @if (isMultipartForm()) {
      <multipart-form-body
        [req]="req"
        (multipartChanged)="handleMultipartChanged($event)"
      ></multipart-form-body>
    } @else if (isFormURLEncoded()) {
      <url-form-encoded-body
        [req]="req"
        (urlEncodedChanged)="handleURLEncodedChanged($event)"
      ></url-form-encoded-body>
    }
  </div>
} @else {
  <file-body [req]="req" (fileChanged)="handleFileBodyChanged($event)"></file-body>
}
