.clone-request-modal {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  min-width: 500px;
  max-width: 500px;
  background: var(--modal-background-color);
  border: var(--modal-border-style)
}

.clone-request-content {
  padding: 14px;
}

.request-name{
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}


.file-name {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 20px;
}

.modal-label {
  margin: 0px;
}

.change-file-name-edit-mode-icon {
  fill: rgba(212, 212, 212, 0.5);
  align-items: cetner;
  transition: fill 0.2s
}

.change-file-name-edit-mode-icon:hover {
  fill: rgba(212, 212, 212, 0.85);
}

.current-file-name-con {
  padding: 8px 10px;
  background-color: #181818;
  border-radius: 4px;
}

.current-file-name{
  max-width: 700px;
  word-wrap: break-word;
  color: var(--contrasting-color)
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 32px;
}

