<div class="main-content-header">
  <div
    class="current-workspace pointer"
    (click)="showSelectWorkspace($event, selectWorkspaceTrigger)"
    #selectWorkspaceTrigger
  >
    <span class="current-workspace-text text-ellipsis">{{
      activeWorkspace()?.type === workspaceTypes.GeneralInfo
        ? 'Общая информация'
        : activeWorkspace()?.item?.name
    }}</span>
    <svg class="dropdown-icon" viewBox="0 -5 12 12">
      <polyline points="0,0 6,6 12,0" fill="none" />
    </svg>
  </div>

  @if (selectItemId === (isOpenSelectItemMenu | async)) {}
</div>

<ng-template #workspaces>
  <div class="select-workspace-con" (click)="$event.stopPropagation()">
    <span class="workspaces-header">Главное меню</span>

    <span
      class="select-workspace pointer"
      [ngClass]="{ selected: activeWorkspace()?.type === workspaceTypes.GeneralInfo }"
      (click)="setWorkspace(workspaceTypes.GeneralInfo, null)"
      >Общая информация</span
    >
    @if (allCollections()?.length !== 0) {
      <div class="delimiter-line"></div>

      <span class="workspaces-header">Коллекции</span>

      <div class="collection-workspaces scroll">
        @for (coll of allCollections$ | async; track coll.id) {
          <span
            class="select-workspace pointer text-ellipsis"
            (click)="setWorkspace(workspaceTypes.Collection, coll)"
            >{{ coll.name }}</span
          >
        }
      </div>
    }
  </div>
</ng-template>
