.add-collection-modal {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  min-width: 480px;
  background: var(--modal-background-color);
  border: var(--modal-border-style);
}

.add-collection-content {
  padding: 14px;
}

.collection-name{
    display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 14px;
}

.modal-close-button {
  background-color: #202020;
}

.modal-close-button:hover {
  background-color: rgba(155, 155, 155, 0.150);
}
