.add-collection-modal {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 30%;
  width: 420px;
  background: #202020;
  border: var(--modal-border-style)
}

.add-collection-content {
  padding: 14px;
}

.collection-name{
  margin-bottom: 14px;
}

.collection-name,
.collection-path {
  display: flex;
  flex-direction: column;
}

.collection-path {
  margin-bottom: 14px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}



.modal-close-button {
  background-color: #202020;
}

.modal-close-button:hover {
  background-color: rgba(155, 155, 155, 0.150);
}