.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    fill: rgba(212, 212, 212, 0.4);
    padding: 8px 16px 8px 16px;

    background-color: #191919;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-height: 25px;
}