/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  color: rgb(212, 212, 212);
  font-size: 14px;
}
html, body {
  height: 100%;  
  width: 100%;
  overflow: hidden; 
  background-color: var(--background-color);
  font-family: 'Open Sans', 'Raleway';
}

:root {
  --modal-border-style: 1px solid rgba(105, 105, 105, 0.315);
  --contrasting-color: #98c5ff;   /*9370d8 норм*/  /*7366bd агонь*/ /*9d81ba агонь*/ /*9966cc агонь 1a4780 норм 007cad подходит 3b5998 подходит биг 324ab2 тоже 3a75c4 тож */
  --modal-background-color: #202020;
  --background-color: #222222;
}

.pointer {
  cursor: pointer;
}

.get,
.get-arrow {
  color: rgb(133, 235, 106);
}

.post,
.post-arrow {
  color: rgb(133, 235, 235);
}

.put,
.put-arrow {
  color: rgb(235, 133, 192);
}

.patch,
.patch-arrow {
  color: rgb(175, 133, 192);
}

.delete,
.delete-arrow {
  color: rgb(255, 67, 67);
}

.text-ellipsis {
  white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;    
}

.pandora-input {
  font-family: 'Open Sans', 'Raleway';
  padding: 8px 8px;
  background: none;
  border: 1px solid #444;
  color: rgb(212, 212, 212);
  border-radius: 4px;
  outline: none;
  transition: border 0.1s;
}

.pandora-input:focus{
  border: 1px solid var(--contrasting-color);   
}

.modal-close-button {
  transition: background-color 0.2s;
}

.modal-close-icon {
  border-radius: 4px;
  position: relative;
  padding: 4px;
  display: flex;
  justify-content: center;
  fill: rgba(212, 212, 212, 0.5);
  transition: fill 0.2s
}

.modal-close-icon:hover {
  background-color: rgba(155, 155, 155, 0.150);
  fill: rgba(212, 212, 212, 0.75);
}

.modal-create-button {
  background-color: var(--contrasting-color);
  color: #202020;
}

.action-button {
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-label {
  pointer-events: none;
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  color: #bbb;
  font-weight: 650;
}


.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.450);
}

.blur-item{
  background-color: rgba(115, 115, 115, 0.1);
}


.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}