<div class="add-request-modal">
  <modal-header [title]="headerTitle" (onClose)="onClose()"></modal-header>

  <div class="add-request-content">
    <div class="reguest-type field">
      <label class="request-type-label pandora-text">Тип запроса</label>
      <div class="radio-group">
        <label>
          <input
            class="request-type-radio"
            type="radio"
            name="type"
            value="HTTP"
            [(ngModel)]="type"
          />
          HTTP
        </label>
        <label>
          <input
            class="request-type-radio"
            type="radio"
            name="type"
            value="gRPC"
            [(ngModel)]="type"
          />
          gRPC
        </label>
        <label>
          <input
            class="request-type-radio"
            type="radio"
            name="type"
            value="WebSocket"
            [(ngModel)]="type"
          />
          WebSocket
        </label>
      </div>
    </div>

    <div class="request-name field">
      <label class="pandora-text">Название запроса</label>
      <input placeholder="Название запроса" class="pandora-input" type="text" [(ngModel)]="name" />
    </div>

    <div class="url-con field">
      <label class="pandora-text">Путь запроса</label>

      <div class="url-row">
        <div class="method-select-con" (click)="$event.stopPropagation()">
          <div class="method-select">
            <button
              type="button"
              class="method-button"
              [ngClass]="[selectedMethod.toLowerCase() + `-hover`, selectedMethod.toLowerCase()]"
              (click)="toggleMethods()"
            >
              {{ selectedMethod }}
              <span class="arrow" [ngClass]="[selectedMethod.toLowerCase() + `-arrow`]">▼</span>
            </button>
          </div>
        </div>
        <input placeholder="Путь запроса" class="url-input" type="text" [(ngModel)]="url" />
      </div>

      @if (showMethods) {
        <div class="methods-dropdown">
          @for (m of methods; track m) {
            <div
              class="method-item-con"
              (click)="selectMethod(m); $event.stopPropagation()"
              [ngClass]="[selectedMethod === m ? 'active-method' : '']"
            >
              <div class="method-item">
                {{ m }}
              </div>
            </div>
          }
        </div>
      }
    </div>

    <div class="actions">
      <button class="modal-close-button action-button pointer" (click)="onClose()">Закрыть</button>
      <button class="modal-create-button action-button pointer" (click)="onCreate()">Создать</button>
    </div>
  </div>
</div>
