<div class="request-item pointer">
  <div class="request-item-info">
    @if (isHttp()) {
      <div class="http-request-info">
        <div class="http-method item-name" [ngClass]="request.method.toLowerCase()">
          {{ request.method }}
        </div>
        <div class="text-ellipsis request-name">
          {{ request.name }}
        </div>
      </div>
    }

    <div class="request-actions">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="actions-icon"
        width="22"
        height="22"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="5" cy="12" r="1"></circle>
        <circle cx="12" cy="12" r="1"></circle>
        <circle cx="19" cy="12" r="1"></circle>
      </svg>
    </div>
  </div>
</div>
