.request-item {
  display: flex;
  position: relative;
  border: 1px solid;
  border-color: transparent;
  padding-left: 32px;
  align-items: center;
  padding: 2px 10px 2px 32px;
  margin-right: 1px;
}

.request-item:hover {
  .actions-icon {
    opacity: 1;
  }
  background-color: rgba(155, 155, 155, 0.1);
}

.request-item:focus {
  .actions-icon {
    opacity: 1;
  }
  border-bottom: solid 1px rgba(155, 155, 155, 0.315);
  border-top: solid 1px rgba(155, 155, 155, 0.315);
  background-color: rgba(115, 115, 115, 0.1);
}

.request-actions {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.http-method {
    padding-right: 10px;
    padding-right: 10px;
}

.http-request-info {
    display: flex;
    width: 100%;
    padding-left: 24px;
}

.request-file-name {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 20px;
}

.current-request-file-name-con {
  padding: 8px 10px;
  background-color: #181818;
  border-radius: 4px;
}

.current-request-file-name{
  max-width: 700px;
  word-wrap: break-word;
  color: var(--contrasting-color)
}

.actions-icon {
  opacity: 0;
}

.actions-menu {
  position: absolute;
  top: 110%;
  left: 88%;
  background: #313131;
  border-radius: 6px;
  padding: 4px;
  z-index: 2;
  border: 1px solid rgba(155, 155, 155, 0.315);
  cursor: default;
}

.action-item {
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
}

.action-item:hover {
  background: #3a3a3a;
}

.edit-request-file-name-icon {
  fill: rgba(212, 212, 212, 0.5);
  align-items: cetner;
}

