.side-bar-header {
  display: flex;
  padding: 4px 14px 4px 10px;
  align-items: center;
  border-bottom: solid 1px rgba(155, 155, 155, 0.315);
  font-size: 10px;
  margin-bottom: 6px;
  position:relative;
  justify-content: space-between;
}

.header-text {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.collection-icon {
  flex: 0 0 18px;
  display: block;
  margin-right: 10px;
  stroke-width: 0.1px;
  stroke: white;
}

.collection-header-actions {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.collection-actions {
  position: absolute;
  top: 110%;
  right: 1.2rem;
  border: 1px solid rgba(155, 155, 155, 0.315); 
  border-radius: 6px;
  min-width: 150px;
  background-color: #313131;
  overflow: hidden;
  z-index: 1;
  padding: 4px;
}

.collection-action {
  display: flex;
  align-items: center;
  padding: 6px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 6px;
}

.collection-action:hover {
  background-color: #3a3a3a;
}

.action-item-icon {
  height: 13px;
  flex: 0 0 16px;
  display: block;
  margin-right: 6px;

}

.actions-icon {
  transition: stroke 0.1s;
}

.actions-icon:hover {
  stroke: rgb(228, 228, 228)
}


